html {
    margin: 0;
    padding: 0;
}
.contentHolder {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.flowContent {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.flowContent div {
    margin: 10px;
    background-color: bisque;
    width: 200px;
    height: 200px;
}

