html {
    margin: 0;
    padding: 0;
}

.flowContent {
    margin-left: auto;
    margin-right: auto;
}

.flowContent div {
    margin: 10px;
    background-color: bisque;
    width: 200px;
    height: 200px;
}

@media (min-width: 1px) {
    .flowContent {
        width: 300px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 601px) {
    .flowContent {
        width: 500px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1201px) {
    .flowContent {
        width: 900px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}
 

@media (min-width: 1601px) {
    .flowContent {
        width: 1400px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}